.main-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #ffeeee, #ffc0bb);
}
.small-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 30px;
  border-radius: 15px;
  width: 600px;

  height: 400px;
}
.emoji-container {
  display: flex;

  justify-content: space-between;
}
